.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.mb-2 {
    margin-bottom: (1rem * 0.5) !important;
}
.mx-2 {
    margin-left: (1rem * 0.5) !important;
    margin-right: (1rem * 0.5) !important;
}
.text-center {
    text-align: center !important;
}

/* The Modal (background) */
.modalSDK {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContentSDK {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.modalBodySDK {
    padding: 1rem;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.btnPrimarySDK {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btnSDK {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnOutlinePrimarySDK {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

#review-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    /* border: 1px solid #e5e5e5; */
    border-radius: 4px;
}

#review-form-container {
    width: 100%;
    /* background-color: #eee; */
    /* padding: 0 20px 26px; */
    color: #333;
    overflow-y: auto;
}

#review-form label {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
textarea {
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px #e1e1e1;
    font-size: 16px;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.fieldset {
    margin-top: 20px;
    text-align: center;
}
.right {
    align-self: flex-end;
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 250px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
    background-size: contain;
    align-items: flex-start;
    justify-content: center;
}
.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
    background-size: contain;
}
.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}
.star-rating i ~ i {
    width: 40%;
}
.star-rating i ~ i ~ i {
    width: 60%;
}
.star-rating i ~ i ~ i ~ i {
    width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.btnOutlineDangerSDK {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.vdc-alo-ph-circle {
    width: 100px;
    height: 100px;
    top: 15px;
    left: 15px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: vdc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: vdc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: vdc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: vdc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: vdc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vdc-alo-phone {
    background-color: transparent;
    width: 130px;
    height: 130px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s;
    right: 150px;
    top: 30px;
}

.vdc-alo-phone.vdc-alo-green .vdc-alo-ph-circle-fill {
    background-color: rgba(242, 0, 0, 0.5);
    opacity: 0.75 !important;
}

.vdc-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 15px;
    left: 15px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: vdc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: vdc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: vdc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: vdc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: vdc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vdc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 35px;
    left: 35px;
    position: absolute;
    background: url(end-call.png) no-repeat center center;
    background-size: contain;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    -webkit-animation: vdc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: vdc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: vdc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: vdc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: vdc-alo-circle-img-anim 1s infinite ease-in-out;
}

.vdc-alo-phone.vdc-alo-green .vdc-alo-ph-img-circle {
    background-color: #fff;
}

.vdc-alo-phone.vdc-alo-green .vdc-alo-ph-circle {
    border-color: #f20000;
    opacity: 0.5;
}

.vdc-alo-phone.vdc-alo-green.vdc-alo-hover .vdc-alo-ph-circle,
.vdc-alo-phone.vdc-alo-green:hover .vdc-alo-ph-circle {
    border-color: #fff;
    opacity: 0.5;
}

.vdc-alo-phone.vdc-alo-green.vdc-alo-hover .vdc-alo-ph-circle-fill,
.vdc-alo-phone.vdc-alo-green:hover .vdc-alo-ph-circle-fill {
    background-color: rgba(242, 0, 0, 0.5);
    opacity: 0.75 !important;
}

.vdc-alo-phone.vdc-alo-green.vdc-alo-hover .vdc-alo-ph-img-circle,
.vdc-alo-phone.vdc-alo-green:hover .vdc-alo-ph-img-circle {
    background-color: #fff;
}

@-moz-keyframes vdc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-webkit-keyframes vdc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-o-keyframes vdc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes vdc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-moz-keyframes vdc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-webkit-keyframes vdc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-o-keyframes vdc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes vdc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-moz-keyframes vdc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes vdc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes vdc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes vdc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
